.general-input,
input[type=number] {
    all: initial;




    border-radius: 8px;
    padding: 20px;
    height: 56px;
    background-color: #2656FF;

    color: white;

    font-size: 16px;
}

input:hover {
    background-color: #7D9AFF;
    border: solid 1px #878787;
}

input:focus {
    background-color: #081133;
    border: solid 1px #878787;

}

.general-input.short {
    height: 32px;
    padding: 2px;
    width: 32px;
    text-align: right;
    background-color: white;
    border: solid 1px #2656FF;
    color: #000;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}