.blue-btn {
    all: initial;
    border-radius: 8px;
    padding: 20px;
    height: 56px;
    background-color: #173499;

    color: white;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    ;
}

.blue-btn:hover {

    background-color: #7D9AFF;
}

.blue-btn:active {
    background-color: #081133;

}