[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywebview = "*"
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
numpy = "*"
sympy = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"

[scripts]
build = "pyinstaller main.spec"
