* {
    margin: 0 !important;
    box-sizing: border-box !important;
}

body,
html {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
}